# CSMODEL MCO Jupyter Notebook - Phase 1
Akbayan Partylist: Encarguez, Jorenie T. | Filipino, Audric Justin P. | Sy, Vaughn Marick A. | Valdez, Pulvert Gerald

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats

# Data Set Description
This data set contains student performance in secondary education in two Portuguese schools. The two datasets regarding performances are Mathematics and Portuguese and it was collected through school reports and questionnaires. Due to the data collection method, insights from the data can be affected by limited generability and self-reported bias.

There are **`395`** observations on **`Maths.csv`** and **`649`** observations on **`Portuguese.csv`** across 33 variables.

- **`school`**:	student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
- **`sex`**:	student's sex (binary: 'F' - female or 'M' - male)
- **`age`**:	student's age (numeric: from 15 to 22)
- **`address`**:	student's home address type (binary: 'U' - urban or 'R' - rural)
- **`famsize`**:	family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
- **`Pstatus`**:	parent's cohabitation status (binary: 'T' - living together or 'A' - apart)
- **`Medu`**:	mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary education or 4 - higher education)
- **`Fedu`**:	father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary education or 4 - higher education)
- **`Mjob`**:	mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- **`Fjob`**:	father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- **`reason`**:	reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
- **`guardian`**:	student's guardian (nominal: 'mother', 'father' or 'other')
- **`traveltime`**:	home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
- **`studytime`**:	weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
- **`failures`**:	number of past class failures (numeric: n if 1<=n<3, else 4)
- **`schoolsup`**:	extra educational support (binary: yes or no)
- **`famsup`**:	family educational support (binary: yes or no)
- **`paid`**:	extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
- **`activities`**:	extra-curricular activities (binary: yes or no)
- **`nursery`**:	attended nursery school (binary: yes or no)
- **`higher`**:	wants to take higher education (binary: yes or no)
- **`internet`**:	Internet access at home (binary: yes or no)
- **`romantic`**:	with a romantic relationship (binary: yes or no)
- **`famrel`**:	quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
- **`freetime`**:	free time after school (numeric: from 1 - very low to 5 - very high)
- **`goout`**:	going out with friends (numeric: from 1 - very low to 5 - very high)
- **`Dalc`**:	workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
- **`Walc`**:	weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
- **`health`**:	current health status (numeric: from 1 - very bad to 5 - very good)
- **`absences`**:	number of school absences (numeric: from 0 to 93)
- **`G1`**:	first period grade (numeric: from 0 to 20)
- **`G2`**:	second period grade (numeric: from 0 to 20)
- **`G3`**:	final grade (numeric: from 0 to 20, output target)

-- **`G1`**, **`G2`**, and **`G3`** are grades of the student over a school year.

Another column is added depending on the origin of the dataframe which brings it to 34 variables on the merged dataframe. 
- **`subject`**: subject of the dataframe (binary: maths or portuguese)

# Data Cleaning

First, we load and show the head's of the datasets to gain an insight on the structure.

In [23]:
maths_df = pd.read_csv('Maths.csv')
maths_df.info()
maths_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [24]:
portu_df = pd.read_csv('Portuguese.csv')
portu_df.info()
portu_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

Since we are analysing the entirety of the student population, it is ideal to be able to track which dataframe did the row come from when it is eventually merged.

In [25]:
maths_df['subject'] = 'maths'
portu_df['subject'] = 'portuguese'

Upon initial inspection of **`Maths.csv`** and **`Portuguese.csv`**, the data appears to be consistently and properly represented. However,  it's important to perform due diligence to catch any issues that may not be immediately visible.

In [28]:
expected_values = {
    'school': {'gp', 'ms'},
    'sex': {'f', 'm'},
    'address': {'u', 'r'},
    'famsize': {'le3', 'gt3'},
    'pstatus': {'t', 'a'},
    'medu': set(range(0, 5)),
    'fedu': set(range(0, 5)),
    'mjob': {'teacher', 'health', 'services', 'at_home', 'other'},
    'fjob': {'teacher', 'health', 'services', 'at_home', 'other'},
    'reason': {'home', 'reputation', 'course', 'other'},
    'guardian': {'mother', 'father', 'other'},
    'traveltime': set(range(1, 5)),
    'studytime': set(range(1, 5)),
    'failures': {0, 1, 2, 4},
    'schoolsup': {'yes', 'no'},
    'famsup': {'yes', 'no'},
    'paid': {'yes', 'no'},
    'activities': {'yes', 'no'},
    'nursery': {'yes', 'no'},
    'higher': {'yes', 'no'},
    'internet': {'yes', 'no'},
    'romantic': {'yes', 'no'},
    'famrel': set(range(1, 6)),
    'freetime': set(range(1, 6)),
    'goout': set(range(1, 6)),
    'dalc': set(range(1, 6)),
    'walc': set(range(1, 6)),
    'health': set(range(1, 6)),
    'absences': set(range(0, 94)),
    'g1': set(range(0, 21)),
    'g2': set(range(0, 21)),
    'g3': set(range(0, 21)),
    'subject': {'maths', 'portuguese'}
}

def clean_strings(df):
    for col in df.select_dtypes(include='object'):
        df[col] = df[col].str.strip().str.lower()
    return df

def clean_numeric(df):
    numeric_cols = [
        'age', 'medu', 'fedu', 'traveltime', 'studytime', 'failures',
        'famrel', 'freetime', 'goout', 'dalc', 'walc', 'health',
        'absences', 'g1', 'g2', 'g3'
    ]
    for col in numeric_cols:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='coerce')
    return df

def check_values(df):
    invalid_values = {}
    for col, valid_set in expected_values.items():
        if col in df.columns:
            invalid = set(df[col].dropna().unique()) - valid_set
            if invalid:
                invalid_values[col] = invalid
    return invalid_values

In the code above, multiple data representation is being tested and checked, while further cleaning after if necessary.

In [29]:
maths_df = clean_strings(maths_df)
maths_df = clean_numeric(maths_df)

portu_df = clean_strings(portu_df)
portu_df = clean_numeric(portu_df)

maths_invalid = check_values(maths_df)
portu_invalid = check_values(portu_df)

if maths_invalid:
    print("Invalid values in math dataset:", maths_invalid)
else:
    print("Math dataset is clean.")

if portu_invalid:
    print("Invalid values in portuguese dataset:", portu_invalid)
else:
    print("Portuguese dataset is clean.")

Invalid values in math dataset: {'failures': {np.int64(3)}}
Invalid values in portuguese dataset: {'failures': {np.int64(3)}}

As seen above, there are incorrect values. Based on the attribute description, "**`failures`**:	number of past class failures (numeric: n if 1<=n<3, else 4)", 0 and 3 should never appear as a value. We shall clean that in two ways, the 0 shall be an allowed value as a student can realistically have no past failures and 3 shall be converted to 4. We shall then run the cleaner again to ensure that the categorical and numerical values are as intended.

In [30]:
maths_df['failures'] = maths_df['failures'].apply(lambda x: x if x in [0, 1, 2] else 4)
portu_df['failures'] = portu_df['failures'].apply(lambda x: x if x in [0, 1, 2] else 4)

In [31]:
maths_invalid = check_values(maths_df)
portu_invalid = check_values(portu_df)

if maths_invalid:
    print("Invalid values in math dataset:", maths_invalid)
else:
    print("Math dataset is clean.")

if portu_invalid:
    print("Invalid values in portuguese dataset:", portu_invalid)
else:
    print("Portuguese dataset is clean.")

Math dataset is clean.
Portuguese dataset is clean.

# Research Questions & Exploratory Data Analysis

## Research Questions
-- How do academic, behavioral, and socioeconomic factors influence alcohol consumption?

# Data Mining

# Statistical Inference

# Insights & Conclusions